---
---


<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="app.css" rel="stylesheet" />
    <title>Web site</title>
</head>

<body>
 {% include header.html %}

 {% include about.html %}

 {% include work.html %}

 {% include clients.html %}

 {% include contacts.html %}

 {% include form.html %}

 {% include footer.html %}

  <script type="text/javascript" src="jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="functions.js"></script>

</body>

</html>
