<div class="section" id="about">
        <h3>About Myself</h3>

        <div class="face-lockup">

            <div class="face-img"></div>

            <div class="icon-pencil"><img class="imgline" src="pictures/icon_be1.png" /> </div>
            <div class="icon-mouse"><img class="imgline2" src="pictures/icon_be2.png" /> </div>
            <div class="icon-browser"><img class="imgline3" src="pictures/icon_be3.png" /> </div>
            <div class="icon-video"><img class="imgline4" src="pictures/icon_be4.png" /> </div>


        </div>
        <div class="blurb">
            <p>
                <strong style="color:rgba(0,0,0,0.6)">Lorem ipsum dolor sit amet</strong> sed do eiusmod
                Duis aute irure dolor in reprehenderit in voluptate velit  <a href="#">  fugiat nulla pariatur</a>,  sunt in culpa qui officia
               non proident <a href="#">quis nostrud exercitation</a> and<a href="#"> Lorem Ipsum </a> consectetur adipisicing elit.
            </p>
        </div>
        <div class="skill-lockup">

            <div class="skill-unit">
                <div class="skill-label">Communication</div>
                <div class="skill-icon skill-9">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skill-unit">
                <div class="skill-label">Organization</div>
                <div class="skill-icon skill-7">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skill-unit">
                <div class="skill-label">Learning</div>
                <div class="skill-icon skill-10">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skill-unit">
                <div class="skill-label">Teaching</div>
                <div class="skill-icon skill-8">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skill-unit">
                <div class="skill-label">Planning</div>
                <div class="skill-icon skill-7">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skill-unit">
                <div class="skill-label">Visual Design</div>
                <div class="skill-icon skill-5">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skill-unit">
                <div class="skill-label ">UX Design</div>
                <div class="skill-icon ">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="skill-unit">
                <div class="skill-label">Programming</div>
                <div class="skill-icon skill-8">
                    <span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>

        </div>
    </div>
