<section class="section-clients" id="clients">

    <h3 id="clients">Clients</h3>
 <div class="clients-moblile-nav">

     <span></span>
     <span></span>
     <span></span>
     <span></span>

 </div>

    <div class="client-controls">
        <div class="client-control-next">{% include icons/icon-prev.html %}</div>
        <div class="client-control-prev">{% include icons/icon-next.html %}</div>


    </div>

    <div class="clients-belt">



        <div class="client-unit">

            <div class="client-face">
                <img src="clients/bill.png" alt="Actually it's Bill Gates" />
                <strong class="client-name">Scott Summers</strong>
                <em class="client-title">Director of Design, Queback Inc.</em>


            </div>
            <div class="client-content">
                <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
                <p><strong>Sed ut perspiciatis, unde omnis iste</strong> natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab  architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro.</p>
            </div>
        </div>


        <div class="client-unit">

            <div class="client-face">
                <img src="clients/hueg.png" alt="Actually it's Bill Gates" />
                <strong class="client-name">Scott Summers</strong>
                <em class="client-title">Director of Design, Queback Inc.</em>


            </div>
            <div class="client-content">
                <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
                <p><strong>Sed ut perspiciatis, unde omnis iste</strong> natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab  architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro.</p>
            </div>
        </div>

         <div class="client-unit">

            <div class="client-face">
                <img src="clients/odin.png" alt="Actually it's Bill Gates" />
                <strong class="client-name">Scott Summers</strong>
                <em class="client-title">Director of Design, Queback Inc.</em>


            </div>
            <div class="client-content">
                <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
                <p><strong>Sed ut perspiciatis, unde omnis iste</strong> natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab  architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro.</p>
            </div>
        </div>

      <div class="client-unit">

            <div class="client-face">
                <img src="clients/bilbo.png" alt="Actually it's Bill Gates" />
                <strong class="client-name">Scott Summers</strong>
                <em class="client-title">Director of Design, Queback Inc.</em>


            </div>
            <div class="client-content">
                <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
                <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab  architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro.</p>
            </div>
        </div>

    </div>
    <div class="clients-logos">

        <img class="client-logo" src="/clients/arc.png"/>

        <img class="client-logo" src="/clients/apple.png"/>

        <img class="client-logo" src="/clients/check.png" style="width:200px;"/>

        <img class="client-logo" src="/clients/google.png"/>

    </div>



</section>
