<section class="alt-section section-work" id="work">

        <h3 id="work">Work</h3>

        <div class="work-belt">

            <div class="thumb-wrap">

                <div class="thumb-container">

                    <a href="#bottom" class="thumb-unit bg " data-folder="work-1">

                        <div class="thumb-overlay">

                            <strong>Lorem Ipsum</strong>
                            <div class="zoom-icon"></div>

                        </div>

                    </a>
                    <a href="#bottom" class="thumb-unit bg1" data-folder="work-2">

                        <div class="thumb-overlay">

                            <strong>Typo Internatinal</strong>
                            <div class="zoom-icon"></div>

                        </div>

                    </a>
                    <a href="#bottom" class="thumb-unit bg2" data-folder="work-3">

                        <div class="thumb-overlay">

                            <strong>Typo Internatinal</strong>
                            <div class="zoom-icon"></div>

                        </div>

                    </a>
                    <a href="#bottom" class="thumb-unit bg3" data-folder="work-4">

                        <div class="thumb-overlay">

                            <strong>Typo Internatinal</strong>
                            <div class="zoom-icon"></div>

                        </div>

                    </a>
                    <a href="#bottom" class="thumb-unit bg4" data-folder="work-5">

                        <div class="thumb-overlay">

                            <strong>Typo Internatinal</strong>
                            <div class="zoom-icon"></div>

                        </div>

                    </a>
                    <a href="#bottom" class="thumb-unit bg5" data-folder="work-6">

                        <div class="thumb-overlay">

                            <strong>Typo Internatinal</strong>
                            <div class="zoom-icon "></div>

                        </div>

                    </a>
                    <a href="#bottom" class="thumb-unit bg6" data-folder="work-7">

                        <div class="thumb-overlay">

                            <strong>Typo Internatinal</strong>
                            <div class="zoom-icon"></div>

                        </div>

                    </a>
                    <a href="#bottom" class="thumb-unit bg7" data-folder="work-8">

                        <div class="thumb-overlay">

                            <strong>Typo Internatinal</strong>
                            <div class="zoom-icon"> </div>

                        </div>

                    </a>

                </div>
            </div>
            <div class="work-wrap">
                <div class="work-conteiner">
                    <div class="work-return ">{% include icons/poiner.html %}</div>
                    <h4 class="project-title">Do Work</h4>
                    <div class="project-load">
                    </div>
                </div>
            </div>
        </div>

</section>
